<div class="container mt-5" *ngIf="profile$ | async as profile">

  <div class="row align-items-center profile-header mb-5 text-center text-md-left">
    <div class="col-md-2">

    </div>
    <div class="col-md">
      <table>
        <tr>
          <th>Email</th>
          <th>Full Name</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
        </tr>
        <tr>
          <td>{{ profile.email }}</td>
          <td>{{ profile.fullName }}</td>
          <td>{{ profile.address }}</td>
          <td>{{ profile.city }}</td>
          <td>{{ profile.state }}</td>
          <td>{{ profile.id }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
